<!DOCTYPE html>

<html lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{{style}}}

	<head>
		<title>Malcolm Diller</title>
	</head>

	<body>
		<div id="document">
			<h1>Malcolm Diller</h1>
			<div id="contact-info" class="icon-links">
				{{#each icon_links_contact}}
				<div>
					<span>
						{{{simpleLink}}}
					</span>
				</div>
				{{/each}}
			</div>
			<p id="about-me">
				{{about_me}}
			</p>
			<table class="double-table">
				<tr>
					<td width="70%">
						<h2>Education</h2>
						<h4>{{education.title}}</h4>
						<p>
							{{{textToHTML education.text}}}<br>
							GPA: {{education.gpa}}
						</p>
					</td>
					<td width="30%">
						<h2>Languages</h2>
						<h3>Proficient</h3>
						{{{jsonToUl languages.proficient}}}
						<h3>Familiar</h3>
						{{{jsonToUl languages.familiar}}}
					</td>
				</tr>
			</table>
			<h2>Work Experience</h2>
			{{#each experience}}
				<h3>
					{{company}}
					<span class="location-date">
						{{location}} ({{date_start}} - {{date_end}})
					</span>
				</h3>
				{{{jsonToUl bullets}}}
			{{/each}}
			<br>
			<table id="web-info" class="icon-links">
				<tr>
					<td></td>
					<td></td>
					<td id="references" rowspan="4">
						References available upon request
					</td>
				</tr>
				{{#each icon_links_web}}
				<tr>
					<td>
						{{{getSVG icon}}}
					</td>
					<td>
						{{{simpleLink}}}
					</td>
				</tr>
				{{/each}}
			</table>
		</div>
	</body>
</html>