<!DOCTYPE html>

<html lang="en">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{{style}}}
	<!-- Roboto Font -->
	<link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>

	<head>
		<title>Malcolm Diller</title>
	</head>

	<body>
		<div id="document">
			<div id="header">
				<h1>Malcolm Diller</h1>
			</div>
			<div id="main-container">
				<div id="sidebar">
					<section id="icon-links">
						<h2>Contact Info</h2>
						<table>
							{{#each icon_links}}
							<tr>
								<td>
									{{{getSVG icon}}}
								</td>
								<td>
									{{{linkText link text}}}
								</td>
							</tr>
							{{/each}}
						</table>
					</section>
					<section id="languages">
						<h2>Languages</h2>
						<section>
							<h3>Proficient</h3>
							{{{jsonToUl languages.proficient}}}
						</section>
						<section>
							<h3>Familiar</h3>
							{{{jsonToUl languages.familiar}}}
						</section>
					</section>
					<section id="education">
						<h2>Education</h2>
						<section>
							<h4>{{education.title}}</h4>
							<p>
								{{{textToHTML education.text}}}<br>
								GPA: {{education.gpa}}
							</p>
						</section>
					</section>
					<span id="references">
						References available upon request
					</span>
				</div>

				<div id="main-content">
					<section id="about-me">
						<p>{{about_me}}</p>
					</section>
					<section id="experience">
						<h2>Work Experience</h2>
						{{#each experience}}
						<section>
							<h3>
								{{company}}
								<span class="location-date">
									{{location}} ({{date_start}} - {{date_end}})
								</span>
							</h3>
							{{{jsonToUl bullets}}}
						</section>
						{{/each}}
					</section>
					<section id="projects">
						<h2>Personal Projects</h2>
						{{#each projects}}
						<section>
							<h3>
								{{{linkText link title}}}
								<span class="github-link">
									<a href={{github}}>
										View Source
									</a>
								</span>
							</h3>
							{{{jsonToUl bullets}}}
						</section>
						{{/each}}
					</section>
				</div>
			</div>
		</div>
		<script>
			document.getElementById("references").outerHTML = "";
		</script>
	</body>
</html>